/*Slider CSS */
* {
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Trebuchet MS', 'sans-serif';
    color: #555758;
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}

h1 {
    color: #134880;
    font-size: 30px;
}
/* layout ********/
#hdr {
    
    max-height: 5em;
    background-color: #DDD;
    border-radius: 0 0 8px 8px;
}
#hdr h1{
    padding: 0.5em;
}
.wrapper {
    display: flex;
    margin: 3em 0;

}

#content {
    width: 66%;
  
}
#sdbr h1{
    font-size: 26px;
}
#sdbr{
    
    width: 33%;
    padding-left: 1em;
}
#ftr{
    background-color: #DDD;
    border-radius: 8px 8px 0 0; 
    position: absolute;
    bottom:0;
    width: 100%;
    max-width: 940px;
    text-align: right;

}


/*slider elements*/
.slider1,
.slider2 {
    display: flex;
    flex-flow: row-reverse nowrap;
    max-width: 100%;
    position: relative;
    overflow: visible;
    min-height: 200px;
    
   
}
.sl1,
.sl2 {
    display: flex;
    flex-flow: row-reverse;
    position:relative;
    justify-content: start;
    overflow: visible;   
}

.slider2 {
    right: 15%;
}
img {
    
    position:absolute;
    right:1em;
}
.slideEl {
    border-radius: 5%;
   
    
   
}
.flexEl {
   
    max-height: 200px;
    display:inline;
    padding: 0.25em 0.25em;
  
}
.arrowDiv {
    margin-left: 5em;
    position: relative;
    right: 1em;
    
   
}

.arrow{
    align-content: flex-end;
    display: block;
    padding: 2.5em;
    margin: 1em; 
    border-radius: 10%;
    
}
.inactive.left {
    background: url(../img/arrow-gray-left.png) no-repeat center,
    #fff no-repeat center;
}
.active.left {
    background: url(../img/arrow-blue-left.png) no-repeat center,
    #fff no-repeat center;
}
.active.left:hover {
    background: url(../img/arrow-blue-left.png) no-repeat center,
    #abe no-repeat center; 
}
.active.right {
    background: url(../img/arrow-blue-right.png) no-repeat center,
    #fff no-repeat center;
}.active.right:hover {
    background: url(../img/arrow-blue-right.png) no-repeat center,
    #abe no-repeat center; 
}
.active{
    border: 1px solid  #215388;
    box-shadow: 0 2px 2px 0 #215388;
}

.inactive{
    border: 1px solid  #DDDDDD;
    box-shadow: 0 2px 2px 0 #aaa;
}
